body{
    background-color:beige;
    text-align:center;
}
p{
    color:blue;
    background-color:aqua;
    font-size:medium;
}
li{
    color:brown;
    background-color: blanchedalmond;
    font-size:small;
}
h1,h2{
    font-size:larger;
    color:blueviolet;
}
img{
    height: 500px;
    width:500px;
}